{
    "[ada]": {
        "editor.tabSize": 3
    },
    "ada.projectFile": "gnat/lal_refactor.gpr",
    "terminal.integrated.env.linux": {
        "ALS": "${workspaceFolder}/../als_edge/.obj/server/ada_language_server",
        "C_INCLUDE_PATH": "${workspaceFolder}/../../wave/x86_64-linux/libadalang-internal/install/include/libadalang",
        "GPR_PROJECT_PATH": "${workspaceFolder}/../als_edge/subprojects/gnatdoc/gnat:${workspaceFolder}/../als_edge/subprojects/spawn/gnat:${workspaceFolder}/gnat:${workspaceFolder}/../laltools/src:${workspaceFolder}/../../wave/x86_64-linux/ada_libfswatch_edge/install/share/gpr:${workspaceFolder}/../../wave/x86_64-linux/templates_parser/install/share/gpr:${workspaceFolder}/../../wave/x86_64-linux/libgpr2-bare/install/share/gpr:${workspaceFolder}/../../wave/x86_64-linux/libadalang-internal/install/lib/gnat:${workspaceFolder}/../../wave/x86_64-linux/libadalang-internal/install/share/gpr:${workspaceFolder}/../../wave/x86_64-linux/langkit_support/install/share/gpr:${env:GPR_PROJECT_PATH}",
        "LD_LIBRARY_PATH": "${workspaceFolder}/../../wave/x86_64-linux/nodejs_16.19.1/install/lib:${workspaceFolder}/../../wave/x86_64-linux/templates_parser/install/lib:${workspaceFolder}/../../wave/x86_64-linux/libgpr2-bare/install/lib:${workspaceFolder}/../../wave/x86_64-linux/libadalang-internal/install/lib:${workspaceFolder}/../../wave/x86_64-linux/langkit_support/install/lib64:${workspaceFolder}/../../wave/x86_64-linux/langkit_support/install/lib:${workspaceFolder}/../../wave/x86_64-linux/gnatall/install/lib64:${workspaceFolder}/../../wave/x86_64-linux/gnatall/install/lib:${workspaceFolder}/../../wave/x86_64-linux/stable-gps/install/lib:${env:LD_LIBRARY_PATH}",
        "LIBRARY_PATH": "${workspaceFolder}/../../wave/x86_64-linux/libgpr2-bare/install/lib64:${workspaceFolder}/../../wave/x86_64-linux/libgpr2-bare/install/lib:${workspaceFolder}/../../wave/x86_64-linux/libadalang-internal/install/lib:${workspaceFolder}/../../wave/x86_64-linux/langkit_support/install/lib:${env:LIBRARY_PATH}",
        "PATH": "${workspaceFolder}/../als_edge/.obj/server:${workspaceFolder}/bin:${workspaceFolder}/../laltools/bin:${workspaceFolder}/../../wave/x86_64-linux/nodejs_16.19.1/install/bin:${workspaceFolder}/../../wave/x86_64-linux/templates_parser/install/bin:${workspaceFolder}/../../wave/x86_64-linux/gnatall/install/bin:${workspaceFolder}/../../wave/x86_64-linux/stable-gps/install/bin:${workspaceFolder}/../../venv/bin:${env:PATH}"
    }
}
